
/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
.pad-head{
  padding-top:10px;
  padding-bottom:30px;
  background: lightgreen;
  color: #367c2b;
}

.green {
  color: #367c2b;
}
.compar {
  width: 90%;
  padding: 10px;
}
.wid90 {
  width: 0%;
  background: lightgreen;
}
/* .pos-rel {
  position: relative;
} */
.track {
  width: 60%;
  padding: 10px;
  float:left;
}
.track-image {
  width: 90%;
  padding: 10px;
}
/* .small{
  position: absolute;
  width: 60%;
  height: 60%;
  background-color: chartreuse;
  border: black
} */

body {
  background: #f1f1f1;
  color: #367c2b;
  padding: 5px;
}


/* article {color: #367c2b;
  font-size: 15px;
}  */
a {color: #367c2b;
  font-size: 25px;
}
.navbar {
  padding: 10px;
}

h1 {
  font-size: 80px;
}
.figtext {
  font-size: 15px
}

h3 {
  font-size: 30px;
} 

/* Giving our navbar some padding and a background color


/* Making our navbar li's inline-block elements this makes it so we can have multiple on the same line. Floats could have been used too */
.navbar li {
  display: inline-block;
  padding: 20px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  background: #fff;
  border-radius: 3px;
} 


/* Styling the header, giving it a height, a background color, and some top padding */
/* .header {
  height: 200px;
  padding-top: 20px;
  background: #cdcdcd;
}

Centering our h1 tag inside our header, giving it a little padding, removing its margin
.header h1 {
  padding: 60px;
  margin: 0;
  color: #000;
  text-align: center;
}  */

/* Giving the .post element margin on 3 sides */
/* .post {
  margin-top: 50px;
  margin-right: 100px;
  margin-left: 100px;
}

#nav-select {
  visibility: hidden;
}


.box-side {
  width: 35%;
  height: 75%;
  position: relative;
  background: orange;
}   */


/* Adding media queries to show the drop-down, and hide the navbar when the screen is smaller than 480 pixels */
/* @media (max-width: 480px) {
  .navbar li {
    padding: 10px;
  }

  .post {
    margin-right: 30px;
    margin-left: 30px;
  }

  .navbar ul {
    visibility: hidden;
  }

  #nav-select {
    visibility: visible;
  }
} */
